<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hunt.name %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @hunt.admin %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hunt.description %>
</p>

<%= link_to 'Edit', edit_hunt_path(@hunt) %> |
<%= link_to 'Back', hunts_path %>
