<h1>Listing apts</h1>

<table>
  <thead>
    <tr>
      <th>Link</th>
      <th>Address</th>
      <th>Num beds</th>
      <th>Num baths</th>
      <th>Price</th>
      <th>Description</th>
      <th>Status</th>
      <th>Opinions</th>
      <th>Hunt</th>
      <th>Contact</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apts.each do |apt| %>
      <tr>
        <td><%= apt.link %></td>
        <td><%= apt.address %></td>
        <td><%= apt.num_beds %></td>
        <td><%= apt.num_baths %></td>
        <td><%= apt.price %></td>
        <td><%= apt.description %></td>
        <td><%= apt.status %></td>
        <td><%= apt.opinions %></td>
        <td><%= apt.hunt_id %></td>
        <td><%= apt.contact %></td>
        <td><%= link_to 'Show', apt %></td>
        <td><%= link_to 'Edit', edit_apt_path(apt) %></td>
        <td><%= link_to 'Destroy', apt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Apt', new_apt_path %>
